#imgTapete
{
    @extend.tamanoImgTapete;
}

#imgCostura
{
    @extend.tamanoImgCostura;
}

#masServicios
{
    margin-bottom: 50px;
}

#marginPTapete
{
    margin-top: 27px;
}

#topTapete
{
    margin-top: 30px;
}

#topCostura
{
    margin-top: 30px;
}

#marginPCostura
{
    margin-top: 27px;
}