#imgTapete
{
    @extend.tamanoImgTapete;
}

#imgCostura
{
    @extend.tamanoImgCostura;
}

#masServicios
{
    margin-bottom: 50px;
}

#marginPTapete
{
    font-size: 22px;
    margin-top: 27px;
}

#topTapete
{
    margin-top: 30px;
}

#topCostura
{
    margin-top: 30px;
}

#marginPCostura
{
    font-size: 22px;
    margin-top: 27px;
}

#sizeParrafo
{
    font-size: 22px;
}
