/*CSS DE SERVICIOS*/

#tituloServicios
{
    font-size: 36px;
    color: black;
    margin-bottom: 50px;
    margin-top: 50px;
}

#marginServicios
{
    margin-top: 50px;
}

#marginServicios2
{
    margin-top: 50px;
    background-color: #feb981;
}

#frase
{
    background-color: #fd943f;
}

#pFrase
{
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

#marginH2
{
    margin-top: 40px;
}

#marginParrafo
{
    margin-bottom: 40px;
}

#imagenServicios
{
    width: 450px;
    height: 300px;
}