/*EXTENDS*/

.marginIzq
{
    margin-left: 15px;
}

.marginDer
{
    margin-right: 15px;
}

.colorNegro
{
    color: black;
}

.tamanoImgTapete
{
    height: 200px;
    width: 200px;
}

.tamanoImgCostura
{
    height: 200px;
    width: 200px;
}