/*CSS DE SOBRE NOSOTROS*/

#fondoSobreNosotros
{
    background-color: #feb981;
}

#h2Mision
{
    @extend.colorNegro;
    margin-top: 50px;
}

#h2Valores
{
    @extend.colorNegro;
    margin-top: 50px;
}

#mision
{
    @extend.colorNegro;
    margin-bottom: 50px;
}

#liValores
{
    @extend.colorNegro;
}

#liHonestidad
{
    @extend.colorNegro;
    margin-bottom: 45px;
}

#pConcepto
{
    font-size: 18px;
}